/* Online CSS validator: https://jigsaw.w3.org/css-validator/ */
/* Colors they used: 
Piano colors:              #e74c3c, #f1c40f, #2ecc71, #3498db
Piano colors when hovered: #ad392d, #b6940c, #239a55, #2773a5
Piano colors when clicked: #73261e, #786207, #176638, #1a4c6d
Background color: #2c3e50
Secondary background color thing: #34495e
Yet another background color thing: #35485d
UI color thing: #1abd9c */
:root {
    --mountain-meadow: #1abd9c;
    --pickled-bluewood: #2c3e50;
    --wet-asphalt: #34495e;
    --oxford-blue: #35485d;
    --cinnabar: #e74c3c;
    --well-read: #ad392d;
    --metallic-copper: #73261e;
    --buttercup: #f1c40f;
    --marigold: #b6940c;
    --reef-gold: #786207;
    --shamrock: #2ecc71;
    --eucalyptus: #239a55;
    --jewel: #176638;
    --curious-blue: #3498db;
    --jelly-bean: #2773a5;
    --blumine: #1a4c6d;
}

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1vh;
    background-color: var(--pickled-bluewood);
    color: white;
}

select {
    width: 10rem;
    background-color: white;
    border: 2px solid white;
    border-radius: 3%;
}

select>option {
    background-color: white;
    border-radius: 30%;
}

.soundSelect:hover {
    background-color: var(--mountain-meadow);
}

/* All button elements. */
button {
    border: none;
}

.clickCounter {
    width: 50px;
    height: 50px;
    border-width: 20px;
    border: solid;
    border-radius: 50%;
    border-color: var(--mountain-meadow);
    text-align: center;
    color: white;
    position: fixed;
    background-color: var(--pickled-bluewood);
    margin-top: 45px;
    margin-left: 35px;
}

#clickCounter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colored-buttons-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    gap: 2vw;
}

/* All elements with the class "colored-button". */
.colored-button {
    height: 18vw;
    width: 18vw;
    border-radius: 10%;
}

.control-button {
    padding: 10px;
    border-radius: 10%;
    font-size: 1rem;
    width: auto;
    height: auto;
}

#red-button.colored-button {
    background-color: var(--cinnabar);
}

#red-button.colored-button:hover {
    background-color: var(--well-read);
}

#red-button.colored-button:active {
    background-color: var(--metallic-copper);
}

#yellow-button.colored-button {
    background-color: var(--buttercup);
}

#yellow-button.colored-button:hover {
    background-color: var(--marigold);
}

#yellow-button.colored-button:active {
    background-color: var(--reef-gold);
}

#green-button.colored-button {
    background-color: var(--shamrock);
}

#green-button.colored-button:hover {
    background-color: var(--eucalyptus);
}

#green-button.colored-button:active {
    background-color: var(--jewel);
}

#blue-button.colored-button {
    background-color: var(--curious-blue);
}

#blue-button.colored-button:hover {
    background-color: var(--jelly-bean);
}

#blue-button.colored-button:active {
    background-color: var(--blumine);
}