/* Online CSS validator: https://jigsaw.w3.org/css-validator/ */
/* Colors they used: 
Piano colors:              #e74c3c, #f1c40f, #2ecc71, #3498db
Piano colors when hovered: #ad392d, #b6940c, #239a55, #2773a5
Piano colors when clicked: #73261e, #786207, #176638, #1a4c6d
Background color: #2c3e50
UI color thing: #1abd9c */
* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-color: #2c3e50;
}

select {
    width: 10rem;
    background-color: white;
    border: 2px solid white;
    border-radius: 3%;
}

select>option {
    background-color: white;
    border-radius: 30%;
}

.soundSelect:hover {
    background-color: #1abd9c;
}

/* All button elements. */
button {
    border: none;
}

/* All elements with the class "colored-button". */
.colored-button {
    height: 50px;
    width: 50px;
}

/* All elements with the id "red-button" + the class "colored-button". */
#red-button.colored-button {
    background-color: #e74c3c;
}

#yellow-button.colored-button {
    background-color: #f1c40f;
}

#green-button.colored-button {
    background-color: #2ecc71;
}

#blue-button.colored-button {
    background-color: #3498db;
}